/* for top navigation of index */

.responsive-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.responsive-text {
  font-size: 50px;
}

@media (max-width: 994px) {
  .responsive-text {
    font-size: 20px;
  }
}

.logo-set {
  display: block;
}

@media (max-width: 994px) {
  .logo-set {
    display: none;
  }
}

.top-nav {
  background-color: #10acb4;
}
.istanbul {
  color: #10acb4;
}
.tricky {
  font-family: Arial, Helvetica, sans-serif;
}
