/* for top navigation of index */

.responsive-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.responsive-text {
  font-size: 50px;
}

@media (max-width: 994px) {
  .responsive-text {
    font-size: 20px;
  }
}

.logo-set {
  display: block;
}

@media (max-width: 994px) {
  .logo-set {
    display: none;
  }
}
/* when website open in mobile */
.istanbul-dondurma {
  display: block;
}
@media (max-width: 525px) {
  .istanbul-dondurma {
    display: none;
  }
}

/* for add new-istandul-dondurma */
.new-istandul-dondurma {
  display: none;
}
@media (min-width: 525px) {
  .new-istandul-dondurma {
    display: none;
  }
}
.top-links {
    display: block;
}
@media (min-width: 768px) {
  .top-links {
    display: none;
  }
}

.mobile-head-nav-small {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: inline;
}
@media (min-width: 349px) {
  .mobile-head-nav-small {
    display: none;
  }
}

.mobile-head-nav {
  display: none;
}
@media (min-width: 350px) {
  .mobile-head-nav {
    display: inline;
  }
}
@media (min-width: 525px) {
  .mobile-head-nav {
    display: none;
  }
}

.barsize {
  display: none;
}
@media (min-width: 350px) {
  .barsize  {
    display: inline;
    font-size: 16px;
  }
}
@media (min-width: 459px) {
  .barsize  {
    display: inline;
    font-size: 20px;
  }
}
@media (min-width: 525px) {
  .barsize  {
    display: none;
  }
}

.full-adjust {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: none;
}
@media (min-width: 992px) {
  .full-adjust {
    display: inline;
  }
}
@media (min-width: 1144px) {
  .full-adjust {
    display: none;
  }
}

.end-adjust {
  display: none;
}

@media (min-width: 1145px) {
  .end-adjust {
    display: inline;
  }
}
.top-nav {
  background-color: #10acb4;
}
.istanbul {
  color: #10acb4;
}
.tricky {
  font-family: Arial, Helvetica, sans-serif;
}

/*twitter*/
.twitter_adjust {
  display: none;
}
@media (min-width: 350px) {
  .twitter_adjust {
    display: inline;
  }
}
@media (min-width: 768px) {
  .twitter_adjust {
    display: none;
  }
}
