.pricingTable10 {
  text-align: center;
}
.pricingTable10 .pricingTable-header {
  padding: 30px 0;
  background: rgb(241, 149, 178);
  position: relative;
  transition: all 0.3s ease 0s;
}
.pricingTable10:hover .pricingTable-header {
  background: rgb(16, 172, 180);
}
.pricingTable10 .pricingTable-header:after,
.pricingTable10 .pricingTable-header:before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #d9d9d8;
  position: absolute;
  bottom: 12px;
}
.pricingTable10 .pricingTable-header:before {
  left: 40px;
}
.pricingTable10 .pricingTable-header:after {
  right: 40px;
}
.pricingTable10 .heading {
  font-size: 30px;
  color: rgb(54, 49, 49);
  text-shadow: .5px .5px white;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 0;
}
.pricingTable10 .price-value {
  display: inline-block;
  position: relative;
  font-size: 50px;
  font-weight: 700;
  color: white;
  text-shadow: 3px 1px black;
  transition: all 0.3s ease 0s;
}
.pricingTable10:hover .price-value {
  color: #fff;
}
.pricingTable10 .currency {
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  top: 4px;
  left: -40px;
  color: rgb(255, 255, 255);
}
.pricingTable10 .month {
  font-size: 16px;
  color: #fff;
  position: absolute;
  bottom: 11px;
  right: -65px;
  text-transform: lowcase;
}
.pricingTable10 .pricing-content {
  padding-top: 60px;
  background: #fff;
  position: relative;
}
.pricingTable10 .pricing-content:after,
.pricingTable10 .pricing-content:before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #7c7c7c;
  position: absolute;
  top: 12px;
}
.pricingTable10 .pricing-content:before {
  left: 40px;
}
.pricingTable10 .pricing-content:after {
  right: 40px;
}
.pricingTable10 .pricing-content ul {
  padding: 0 20px;
  margin: 0;
  list-style: none;
}
.pricingTable10 .pricing-content ul:after,
.pricingTable10 .pricing-content ul:before {
  content: "";
  width: 8px;
  height: 46px;
  border-radius: 3px;
  background: rgb(16, 172, 180);
  position: absolute;
  top: -22px;
  z-index: 1;
  box-shadow: 0 0 5px #707070;
  transition: all 0.3s ease 0s;
}
.pricingTable10:hover .pricing-content ul:after,
.pricingTable10:hover .pricing-content ul:before {
  background: linear-gradient(
    to bottom,
    rgb(241, 149, 178) 50%,
    rgb(241, 149, 178) 50%
  );
}
.pricingTable10 .pricing-content ul:before {
  left: 44px;
}
.pricingTable10 .pricing-content ul:after {
  right: 44px;
}
.pricingTable10 .pricing-content ul li {
  font-size: 15px;
  font-weight: 700;
  color: #595655;
  padding: 10px 0;
  border-bottom: 1px solid #d9d9d8;
}
.pricingTable10 .pricing-content ul li:last-child {
  border-bottom: none;
}
.pricingTable10 .read {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  background: rgb(241, 149, 178);
  padding: 8px 25px;
  margin: 30px 0;
  transition: all 0.3s ease 0s;
}
.pricingTable10 .read:hover {
  text-decoration: none;
}
.pricingTable10:hover .read {
  background: rgb(16, 172, 180);
}
@media screen and (max-width: 990px) {
  .pricingTable10 {
    margin-bottom: 25px;
  }
}


/* style for coupon */


.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.box {
  position: relative;
  width: 500px;
  height: 426px;
  background-color: #ddd;
  overflow: hidden;
  box-shadow: 2px 1px 8px black;
}

.ribbon {
  position: absolute;
  display: inline-block;
  /* overflow: hidden; */
  
  top: 1.3em;
  right: 1em;
  margin-top: -8px;
  max-width: 4em;
  
  color: #fff;
  text-shadow: px px black;
  font-weight: bold;
  z-index: 1;
}

.ribbon::after {
  position: absolute;
  top: -1.3em;
  right: -6em;
  content: "";
  
  height: 4.7em;
  width: 15em;
  
  transform: rotatez(42deg);
  background-color: rgb(255, 0, 0);
  z-index:-1;
}
